$primary:#EAECF0;
$text:#101828;
$footer:#667085;
$contact_header: #101828;
$contact_btn:#1570EF;
$contact_primary:#475467;
@import 'contact';
@import 'App';
@import 'https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

